{% extends 'partials/base.html.twig' %}
{% block content %}
<div class="contact-form">
<h2>Contact</h2>
    {{ content }}
    {% include "forms/form.html.twig" %}
</div>
<div class="between-content"></div>
{% endblock %}
